<!DOCTYPE html>
<html>
<head>
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
    <h1>Between The Lines</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/positions">Positions</a></li>
        <li><a href="/tactics">Tactics</a></li>
        <li><a href="/formations">Formations</a></li>
    </ul>
    </div>

    <div class="intro">
        <h2>Formations</h2>
        <p>
            The formation describes how the players in a team generally position themselves on the pitch. 
            They are typically escribed by three or four numbers, which denote how many players are in each row of the formation from the most defensive to the most forward. 
            Skill and discipline on the part of the players is needed to implement a given formation effectively in professional football. 
            Formations need to be chosen bearing in mind which players are available. 
            Some formations were created to address deficits or strengths in different types of players.
        </p>
    </div>

    <div class="post" id="442diamond">
        <h3>4-4-2 Diamond</h3>
        <p>
            The 4-4-2 Diamond provides no natural width because of the lack of wingers or wide midfielders and as such, 
            the fullbacks have the responsibility of pushing up on the overlap to exploit spaces in the wide areas.

            When on the attack, the diamond requires the deepest lying midfielder to hold position, as a shield to the defence — 
            a defence without the two fullbacks who have joined in the attack.

            The greatest strength of this formation comes from its ability to remain flexible and efficient in the central midfield areas. 
            The two central midfielders are required to be able to cover as much ground as possible while retaining shape and flexibility.

            A #10 without any significant defensive responsibility is utilised in an attempt to overload the central region and compensate for the lack of natural width.
            By having a dedicated defensive midfielder, some attacking is sacrified to ensure defensive stability.
            Through the use of four midfielders packed into the middle of the pitch, the diamond gives an edge over most other formations by having an extra man. 
            
            When the fullbacks go on the overlap to compensate for a lack of wide attacking players, the backline is left exposed to a potential counterattack.
            The Diamond requires extremely fit central midfielders to cover ground, and fullbacks who can bomb up and down the pitch with ease. 
            This may put a strain on the players, resulting in a possible decrease in efficiency over the course of the game or season.
        </p>
    </div>

    <div class="post" id="352">
        <h3>3-5-2</h3>
        <p>
            The 3-5-2 has two particular traits that separate it from all other football formations: a 3-man defence, and the use of wingbacks.

            In this system, the wingbacks although with defensive responsibilities, acts more as a midfielder, than as a defender. 
            They are required to roam up and down the flank to which he is assigned, acting as a winger when in attack, and as a fullback when in defence; hence the term, 'wingback'.

            Contrary to the idea that more is better, having three central defenders in place of the normal two can easily send things going south for the team. 
            As players are trained to defend in pairs, putting up a partnership of three defenders may result in confusion over average defensive positions and roles. 
            Generally, one of these three defenders is able to step up into defensive midfield and create from deep. 

            The 3-5-2 is particularly effective against attacking teams; 
            its ability to transform easily into a defensive 5-3-2 makes it the perfect formation for a team willing to sit back and hit on the break. 

            One of the 3-5-2's greatest strengths, unpredictability, may also be its greatest weakness. 
            A weakness shared by the 4-4-2 Diamond, playing without any advanced wide players puts a lot of strain on the wing backs, as they are required to attack, defend, and do both intelligently.
        </p>
    </div>

    <div class="post" id="433">
        <h3>4-3-3</h3>
        <p>
            The 4-3-3 is mostly used by possession-based teams with technical midfielders. 
            As such, the 4-3-3 can be used when winning a midfield battle is paramount in winning the game.

            The success of the 4-3-3 rests on the quality of the three midfielders available. Usually, the team lines up with one central defensive midfielder and two midfielders ahead of him. 

            This three man midfield is usually assigned three roles; the defender, the controller, and the creator. 
            The defender is the defensive midfielder who shields the defence, the controller sets the tempo of the game, and the creator links up the midfield with the forwards ahead of him.

            Unlike two-striker formations, the 4-3-3 has just one dedicated striker, so the presence of wide forwards who create plays cutting in from the flanks is needed to support the striker. 

            Keeping with the team of technically gifted players, this formation requires intelligent fullbacks who know when to attack on the overlap, or maintain defensive shape. 
            This is to prevent the players from being caught out of position unnecessarily. 

            The 4-3-3 is primarily designed for attack, and in the event of both fullbacks opting for the overlap at the same time, the team is left exposed with only three men at the back. 

            It is important to understand that the three central midfielders needed are required to have high technical skills, 
            a perfect fit between innovativeness and willingness to play specific roles.
        </p>
    </div>

    <div class="post" id="4231">
        <h3>4-2-3-1</h3>
        <p>
            The 4-2-3-1 makes use of four defenders, two defensive midfielders, three attacking midfielders, and a striker. 
            It utilises the 4-4-2 Diamond’s strength in midfield, while successfully avoiding the weakness of having no wide players.

            The defensive midfielder in the 4-2-3-1 in the most important component of the setup. He plays the role of two midfielders in a normal 4-4-3 —the defensive midfielder and the controller. 
            As such, he must have adequate technical skills, ability to pass under pressure, an impressive passing range, and great positional sense.

            Known as the Box-to-Box midfielder, this is the player who lines up alongside the defensive midfielder on the team sheet. His role is a lot more different, though. He is expected to carry the ball from ‘box to box’, aiding in attack when appropriate and having significant defensive duties. 
            This man is usually associated with making late runs into the box to hit the perfect long shot. 

            The 4-2-3-1 makes use of four attacking players with the box-to-box having the potential to be the fifth. 
            This means that in a counterattacking situation, the team playing the 4-2-3-1 will almost always have the numerical advantage. 

            The midfield of the 4-2-3-1 requires incredible specific personnel. The central defensive midfielder position, for example, requires a great passing range, decent athleticism, and a good footballing brain. 
            The box-to-box midfield position requires stamina, good passing, and shot technique. 
            If these requirements are not met, the 4-2-3-1 loses the balance which makes it so impressive.


        </p>
    </div>

</body>
</html>