<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
        <div id="hdcont">
            <h1>Between The Lines</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/positions">Positions</a></li>
                <li><a href="/tactics" >Tactics</a></li>
                <li><a href="/formations">Formations</a></li>
                <li><a href="/quotes">Quotes</a></li>
                <li id="act"><a id="act" href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="intro">
        <h2>Gallery</h2>
        <p>
            Ranging from iconic moments in football to random photographs, below is a gallery of football related images.
        </p>
    </div>

    <div class="flexgrid">
        <div class="fleximg"><img src="https://thesefootballtimes.co/wp-content/uploads/2016/02/maxresdefault.jpg" alt=""></div>
        <div class="fleximg"><img src="https://c1.staticflickr.com/3/2220/5764635796_5e90aa20b1_b.jpg" alt=""></div>
        <div class="fleximg"><img src="https://thesefootballtimes.co/wp-content/uploads/2018/10/interbarcelona.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/fa66c026-0976-4751-8e6e-bab51fdd8a57.jpg" alt=""></div>
        <div class="fleximg"><img src="https://i2-prod.manchestereveningnews.co.uk/incoming/article10962329.ece/ALTERNATES/s615/JS83771130.jpg" alt=""></div>
        <div class="fleximg"><img src="https://neurotracker.net/wp-content/uploads/2016/03/Zidane_Goal_Leverkusen_RealMadrid2-881x590.jpg" alt=""></div>
        <div class="fleximg"><img src="https://c.tribune.com.pk/2018/09/1795138-messi-1536060306-575-640x480.jpg" alt=""></div>
        <div class="fleximg"><img src="https://images.cdn.fourfourtwo.com/sites/fourfourtwo.com/files/ronaldo-98_0_0.jpg" alt=""></div>
        <div class="fleximg"><img src="https://www.arsenal.com/sites/default/files/images/invincibles.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/ccf116eb-7bdd-4c2a-91f7-d2059d0591b0.jpg" alt=""></div>
        <div class="fleximg"><img src="https://gistjunction.com/wp-content/uploads/2018/11/jose-mourinho-explains-celebration-after-manchester-uniteds-2-1-win-at-juventus-1024x683.jpg" alt=""></div>
        <div class="fleximg"><img src="https://i.kym-cdn.com/entries/icons/original/000/000/192/Zidane.jpg" alt=""></div>
        <div class="fleximg"><img src="https://www.mercurynews.com/wp-content/uploads/2018/04/gettyimages-941520068.jpg?w=620" alt=""></div>
        <div class="fleximg"><img src="https://e1.365dm.com/17/05/768x432/skysports-francesco-totti-roma-genoa_3965327.jpg?20170528195200" alt=""></div>
        <div class="fleximg"><img src="https://s3.scoopwhoop.com/anj/iconicfooty/d6bfe8ad-6e33-4deb-97c5-c252f00ded26.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/1ae7df7a-d445-4f9e-baa0-fb6a2eea74c8.jpg" alt=""></div>
        <div class="fleximg"><img src="https://c3.thejournal.ie/media/2014/05/soccer-liverpool-istanbul-champions-league-package-3-752x501.jpg" alt=""></div>
        <div class="fleximg"><img src="https://images.cdn.fourfourtwo.com/sites/fourfourtwo.com/files/styles/image_landscape/public/carlos-france1080_0.jpg?itok=E2eIZ4F6&c=f995d8e06110de1feb4ea0ddaff49b84" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/b42a5121-b0a1-4874-960b-08e98fb8f2ce.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s3.scoopwhoop.com/anj/iconicfooty/7d99670e-7e4e-4eb2-9f85-3643153fe7a0.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/d9c7a3e2-e192-4a0c-a9ec-e21edd942be8.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/c8aea225-706b-49f3-87e4-b6ffc065cbf2.jpg" alt=""></div>
        <div class="fleximg"><img src="https://i2-prod.manchestereveningnews.co.uk/incoming/article11980967.ece/ALTERNATES/s615/JS95668028.jpg" alt=""></div>
        <div class="fleximg"><img src="https://s4.scoopwhoop.com/anj/iconicfooty/aea697ba-b779-4d90-9235-e1f06fcb5da7.jpg" alt=""></div>
        <div class="fleximg"><img src="https://talksport.com/wp-content/uploads/sites/5/2017/03/1_ruud_gullit.jpg?strip=all&quality=100&w=700&quality=100" alt=""></div>
    </div>

</body>
</html>