<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
        <div id="hdcont">
            <h1>Between The Lines</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/positions">Positions</a></li>
                <li><a href="/tactics">Tactics</a></li>
                <li><a href="/formations">Formations</a></li>
            </ul>
        </div>
    </div>

    <div class="intro">
        <h2>About</h2>
        <p>There are various individual skills and team tactics needed to play effective football. 
           Football is in theory a very simple game, as illustrated by Kevin Keegan's famous assertion that his tactics for winning a match were to "score more goals than the opposition". 
           However, well-organised and well-prepared teams are often seen beating teams with supposedly more skillful players, even over time.    
        </p>
    </div>
</body>
</html>