<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
        <div id="hdcont">
            <h1>Between The Lines</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/positions">Positions</a></li>
                <li><a href="/tactics">Tactics</a></li>
                <li><a href="/formations">Formations</a></li>
                <li id="act"><a href="/formations" id="act">Managers</a></li>
                <li><a href="/quotes">Quotes</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="intro">
        <h2>Managers</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
            making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, 
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).  
        </p>
    </div>

    <div class="post" id="jm">
        <h3>Jose Mourinho</h3>
        <p>
            Jose Mourinho is one of the most polarizing figures in the world of football. The self-proclaimed 'special one', grabs the headlines wherever he goes.
            Having won the treble with Inter Milan to breaking the points record in La Liga, Jose has made football history with his accomplishments.

            When Mourinho was asked "What is my idea of team?", he replied 'One where in a certain moment, faced with a certain situation, all of the players think the same way.
            This is my idea of a team. This is only possible with time, hard-work and composure.'
            He believes that the most important thing for a team is to have a certain model, certain principles, and to know and interpret them well, 
            regardless of the players that are being used.

            A corner stone of Mourinho's success as a manager has been his focus on tactical periodization. 
            Where the game can be broken into 4 moments: Offensive Organization, Attacking Transition, Defensive Transition and Defensive Organization.

            The objective of the offensive phase is to de-organize and unbalance the opponent's defensive structure with the 
            intention of creating and take advantage of spaces to allow the team to score goals. 

            As for the defensive stages the principle is to pressure over the ball and close down spaces, by taking advantage of the disorganization of the opponent's offensive shape 
            and thus recover the ball or organize the team defensively.
        </p>
        <div class="imggrid3">
            <img src="/images/jm.jpg" alt="Jose Mourinho" class="form">
        </div>
    </div>

    <div class="post" id="pg">
        <h3>Pep Guardiola</h3>
        <p>
            It’s no secret that Guardiola’s philosophy and understanding of the game came from Johan Cruyff. 
            Guardiola has often been quoted as saying that the Dutch legend was his biggest idol and a mentor he had nothing but respect for. 
            Cruyff’s influence on the young Guardiola is almost incalculable, learning from his coach’s every move. 

            During his playing career Guardiola was a passer, he wasn’t extremely athletically gifted but he could read the game brilliantly and always picked out the right pass.
            It should be no surprise, then, that Guardiola’s teams play the way they do, and why he so stubbornly refuses to change. 
            For Pep, his success as a manager is more than a triumph of philosophy, it is a campaign to prove to the world again and again that cunning and technique will win out against physicality and strength. 
            Every trophy is another victory for the player that Pep was, and to change his style would be to give in to the same 
            people who told him as a player that there was no role for him in the modern game.

            In a conversation with Ferran Adria, the chef told him: "Pep, you're more than a coach, you're a great innovator", 
            to which the coach replied: "Look Ferran, all I do is look at the footage of our opponents and then try to work out how to demolish them".
        </p>
        <div class="imggrid3">
            <img src="/images/pg.jpg" alt="Pep Guardiola" class="form">
        </div>
    </div>

    <div class="post" id="saf">
        <h3>Sir Alex Ferguson</h3>
        <p>
            Often regarded as the greatest football manager ever Sir Alex Ferguson has had a career that second to none. 
            He is credited with assembling five distinct league-winning squads during his time at the club and continuing to win trophies all the while. 
            His decisions were driven by a keen sense of where his team stood in the cycle of rebuilding and by a similarly keen sense of players’ life cycles and how much value 
            the players were bringing to the team at any point in time. 

            Ferguson believed in setting high standards and would everyone to them, 
            "Everything we did was about maintaining the standards we had set as a football club — this applied to all my team building and all my team preparation, motivational talks, and tactical talks". 

            Sir Alex Ferguson’s philosophy was discipline. You had to be disciplined and put the club first. You had to adhere to what he tells you or else you are benched. 
            He famously said "You can't ever lose control, not when you are dealing with 30 top professionals who are all millionaires". 
        </p>
        <div class="imggrid3">
            <img src="/images/saf.jpg" alt="Sir Alex Ferguson" class="form">
        </div>
    </div>

    <div class="post" id="jc">
        <h3>Johan Cryuff</h3>
        <p>
            In addition to his impressive career as a player and as a coach, Johan Cruyff was an innovator and football visionary. 
            Johan was the strongest advocate of beautiful football, relentlessly aiming to produce both quality and results. 
            He argued that football, in its very essence, is a game intended to entertain and bring joy to the fans. 
            Johan’s distinctive philosophy on talent development, in which individual development is the cornerstone of an academy, gave birth to generations of great players and coaches. 
            They continue to dominate the game of football today and are the living proof of an unrivalled personal football legacy.

            Cryuff always considered aesthetic and moral aspects of the game, 
            "winning is an important thing, but to have your own style, to have people copy you, to admire you, that is the greatest gift". 

            He compiled a list of 14 rules which encapuslate his football philosophy:
            1) Team Player 2) Responsbility 3) Respect 4) Integration 5) Initiative 6) Coaching 7) Personality 
            8) Social Involvement 9) Technique 10) Tactics 11) Development 12) Learning 13) Play Together 14) Creativity
        </p>
        <div class="imggrid3">
            <img src="/images/jc.jpg" alt="Johan Cryuff" class="form">
        </div>
    </div>

    <div class="post" id="ds">
        <h3>Diego Simeone</h3>
        <p>
            The man nicknamed 'Cholo' who in the 2013/14 season ended the Barcelona - Real Madrid duopoly of La Liga, leading Aletico Madrid to their first league title in 17 years. 
            It doesn't seem to matter to Simeone how his team wins, just that they do. And if they don't win, they rarely ever lose. 

            There is a single phrase that sums up Diego Simeone; 
            one that condenses the philosophy and attitude that he brings to his teams and what he expects from his players. 
            "Effort is non-negotiable".

            Far from parking the bus, Atletico aggressively defend the ball like a dog with any sort of toy you give it. Like their manager in his playing days, 
            Atletico are good without being superstars, but become a relentless winning machine with the intense tenacity and commitment to the cause that Simeone has brought to the club. 

            Much of Simeone’s success as a coach has been down to his ability to get the best out of his players. 
            Yet he also does not look to improve players’ weaknesses, explaining that "a player must play the way he knows best and that way he will believe he is better than he is".
        </p>
        <div class="imggrid3">
            <img src="/images/ds.jpg" alt="Diego Simeone" class="form">
        </div>
    </div>

    <div class="post" id="lvg">
        <h3>Arsene Wenger</h3>
        <p>
            Arsene Wenger is arguably Arsenal's greatest manager. 
            He has transformed the identity of the club both on and off the field. 
            Away from the pitch, he has guided the club through a period of austerity to facilitate the construction of the spectacular Emirates Stadium. 
            On the field, he has created a style of play that has become iconic.

            Wenger revolutionised premier league football in the mid 90s through bringing a focus on sports science to the beautiful game.
            He brough at a meticulousness in his approach that extended to how the players took care of themselves. 
            At the time, players were accustomed to pre-match chocolate bars than to individually tailored nutritional regimes or post match massages. 

            While Arsenal's sense of style has been consistent, there have been plenty of tactical tweaks along the way. 
            You do not survive 17 years in the Premier League without being adaptable. 
            Arsene Wenger can be stubborn but he also knows the importance of renewal and progress.

            "My vision is that normally you need to win and win with style,"" said Wenger. 
            "Winning should be the result of the quality of your playing style and how you express yourself on the pitch".
        </p>
        <div class="imggrid3">
            <img src="/images/aw.jpg" alt="Arsene Wenger" class="form">
        </div>
    </div>
</body>
</html>