<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
        <div id="hdcont">
            <h1>Between The Lines</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/positions">Positions</a></li>
                <li><a href="/tactics">Tactics</a></li>
                <li><a href="/formations">Formations</a></li>
            </ul>
        </div>
    </div>

    <div class="intro">
        <h2>Positions</h2>
        <p>
            Each of the 11 players on a team is assigned to a particular position on the field of play. 
            A team is made up of one goalkeeper and ten outfield players who fill various defensive, midfield, and attacking positions depending on the formation deployed. 
            These positions describe both the player's main role and their area of operation on the pitch.
        </p>
    </div>
    
    <div class="post" id="sweeper-keeper">
        <h3>Sweeper-Keeper</h3>
        <p>
            A 'sweeper keeper' is a player that seeks to control the space behind his respective back-line. 
            The role involves keeping resolutely close to your defenders far more often than usual, keeping on your toes for the majority of each match, 
            and providing quick counter-attacking throws with hastened speed and efficiency. 

            In other words, the role of the sweeper keeper is to act as an eleventh outfield player. 
            Someone who isn’t scared of running head-first into battle whenever the situation calls for it, 
            yet a player who is equally well-versed in maintaining only the highest levels of concentration for each subsequent ninety minutes of football.

            The desired goal-keeper must be technical, remarkably self-aware, and above all else – wholeheartedly confident when saving their team from the brink of defeat. 

            At times the ploy can prove somewhat hazardous, fraught with danger and a tricky sense of uncertainty if the goal-keeper in question is clearly not up for the job. 

            In the end the ‘sweeper-keeper’ takes no prisoners, and most football onlookers simply can’t help but love him for it. 
            Sometimes, life between the sticks is one of great magnitude. 
            A trial of unpredictability and excitement, all wrapped up in one truly memorable ensemble.
        </p>
        <div class="imggrid">
            <img src="/images/neuer.jpg" alt="Manuel Neuer">
            <img src="/images/ederson.jpg" alt="Ederson Moraes">
            <img src="/images/lloris.jpg" alt="Hugo Lloris">
        </div>
    </div>

    <div class="post" id="regista">
        <h3>Regista / Deep Lying Playmaker</h3>
        <p>
            A regista in Italian means ‘director.’ It actually means the one who directs, who dictates the offensive play of the team. 
            He is not the one who would run around the pitch vying for the ball, 
            but it’s someone who would start his move by lying deep in his own half just in front of the centre-backs 
            and finding his teammates with balls that would be difficult to spot even on a TV screen. 

            Such is the elegance of the regista.

            The registas are players that remain in the midfield area and control the game through their passing, 
            often known as ‘midfield generals’ when combined with leadership and organisation skills.

            They tend to remain in position and leave the goal scoring to others. 
            Their skills on the ball, however, often mean that they score from free kicks or long range shots.

            The regista is not usually known for his tackling prowess, though, as these players tend to come from deep in their own halves and possess remarkable passing skills. 
            To help support with the defensive duties, he generally has a defensive midfielder beside him.

            From a tactical viewpoint, the success of a regista lies on building a team around him. 
            Teammates should be aware and, in fact, will be instructed to provide him with the ball at every opportunity. 

            The attacking moves will originate from the regista who will remain at the pivot of every attacking play. 
            In essence, the regista becomes the focal point as well as the organisational mastermind of a team.
        </p>
        <div class="imggrid">
            <img src="/images/xavi.jpg" alt="Xavier Hernandez">
            <img src="/images/pirlo.jpg" alt="Andrea Pirlo">
            <img src="/images/carrick.jpg" alt="Michael Carrick">
        </div>
    </div>

    <div class="post" id="number-ten">
        <h3>Number 10 / Attacking Midfielder</h3>
        <p>
            The number 10 is a master of all the key elements of the game. 
            His ball control, passing and dribbling are second to none and often he’s the best on the team at these particular skills. 

            Whenever he receives the ball, he should be able to reset the play and re-build it from the ground up, dictating the game at a pace he sees fit. 
            It's for this reason that some of the best number 10's in the world are not the fastest, their ball skills make up for their clear lack of pace. 

            A world class #10 is a bit like having a player with mind of the world’s best chess player, he can see a scoring chance at least three passes before it actually arises. 
            Whenever they're in possession, they have the intuition to pick out the best passing option not just for him but for the team. 

            They are often seen as the most the luxury player in the team as they don't take the goal scoring or defensive responsibilities.

            The primary role of the #10 is to the find the pockets of space between the defensive and midfield lines to operate and also create 
            and identify passing channels for exploiting gaps in the unbalanced opposition defense. 
        </p>
        <div class="imggrid">
            <img src="/images/dsilva.jpg" alt="David Silva">
            <img src="/images/iniesta.jpg" alt="Andres Iniesta">
            <img src="/images/zidane.jpg" alt="Zinedine Zidane">
        </div>
    </div>

    <div class="post" id="false-nine">
        <h3>False 9</h3>
        <p>
            The false 9 is essentially a striker who drops deeps, i.e he drifts back into midfield rather staying around the penalty box for various tactical reasons.

            Generally with a traditional center forward,one of the center back tracks him and the spare one covers for him, 
            but with a false 9 both the center backs during the build up play are left free. 

            This causes confusion as they are caught in two minds on whether they need to follow the false 9 into midfield or 
            do they stick with their partner and maintain their defensive line. 

            If the centre backs decided to withdraw from following him, they left him with enough time and space between their lines to cause significant damage. 

            That said, a false 9 needs superb technical ability and the cerebral ability to exploit space. He is not a typical battering ram nor is he a poacher. 

            The False 9 has to have multiple skills in order to perfect the role. 
            
            The player should have good dribbling skills, good awareness, long and short range finishing. They do not necessarily require strength or heading ability.
        </p>
        <div class="imggrid">
            <img src="/images/messi.jpg" alt="Lionel Messi">
            <img src="/images/totti.jpg" alt="Francesco Totti">
            <img src="/images/firmino.jpg" alt="Roberto Firmino">
        </div>
    </div>

</body>
</html>