<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
        <div id="hdcont">
            <h1>Between The Lines</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/positions">Positions</a></li>
                <li><a href="/tactics" >Tactics</a></li>
                <li><a href="/formations">Formations</a></li>
                <li id="act"><a id="act" href="/quotes">Quotes</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="intro">
        <h2>Quotes</h2>
        <p>
            A collection of quotes from various important figures in the world of football, from some of the most skilled players to ever play the game to 
            football managers that influenced how the game is played today. 
        </p>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">"Football, bloody hell."</h3>
        <h4>- Sir Alex Ferguson</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">"There are many poets in football, but poets don’t win many titles."</h3>
        <h4>- Jose Mourinho</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">"When the seagulls follow the trawler, it is because they think sardines will be thrown into the sea."</h3>
        <h4>- Eric Cantona</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "Football is played with the head, your feet are just the tools."
        </h3>
        <h4>- Andrea Pirlo</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "I don’t like it when a player says, ‘I like freedom; I want to play for myself.’ Because the player has to understand he is part of a team with 10 other players. 
            If everyone wants to be a jazz musician, it will be chaos. 
            They will not be a team, and nothing will be possible."
        </h3>
        <h4>- Pep Guardiola</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "Football is a game of mistakes. Whoever makes the fewest mistakes wins."
        </h3>
        <h4>- Johan Cryuff</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "Behind every kick of the ball there has to be a thought."
        </h3>
        <h4>- Dennis Bergkamp</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "A dream is more pure than an obsession, an obsession is more about pride."
        </h3>
        <h4>- Jose Mourinho</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "Anyone can play a game of football, you see a game on a Sunday, pub games, they all love a game of football. 
            The real players had a practice ethic about them."
        </h3>
        <h4>- Sir Alex Ferguson</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "If I have to make a tackle then I have already made a mistake."
        </h3>
        <h4>- Paolo Maldini</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "Everything I have achieved in football is due to playing football in the streets with my friends."
        </h3>
        <h4>- Zinedine Zidane</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "Most of the players I came across were quicker and stronger than me. 
            Decision making is what controls our physical actions. 
            Some players have a mental top speed of 80 while others are capable of reaching 200, I always tried to reach 200."
        </h3>
        <h4>- Xavi Hernandez</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "If certain players do not carry out their tasks properly on the pitch then their colleagues will suffer."
        </h3>
        <h4>- Louis Van Gaal</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "The best decisions aren't made with your mind, but with your instinct."
        </h3>
        <h4>- Lionel Messi</h4>
    </div>

    <div class="post" id="quote">
        <h3 class="quote">
            "A football team is like a beautiful woman.
            Wgeb you do not tell her, she forgets she is beautiful."
        </h3>
        <h4>- Arsene Wenger</h4>
    </div>
</body>
</html>