<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Between The Lines</title>
</head>
<body>
    <div class="hdr">
        <div id="hdcont">
            <h1>Between The Lines</h1>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/positions">Positions</a></li>
                <li id="act"><a href="/tactics" id="act">Tactics</a></li>
                <li><a href="/formations">Formations</a></li>
                <li><a href="/managers">Managers</a></li>
                <li><a href="/quotes">Quotes</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </div>

    <div class="intro">
        <h2>Tactics</h2>
        <p>
            The great thing about football is there are a million different ways to play it. 
            It's the job of the manager to mould the way a team plays, and you only have to take one look at the elite end of the sport to see differences in the way team’s set-up and play football. 
            There are many formations and tactics being employed be various teams, with hundreds of subtle distinctions branching off from them. 
        </p>
    </div>

    <div class="post" id="jdp">
        <h3>Juego De Posicion</h3>
        <p>
            The main principle behind 'Juego de Posición' is to always look for superiority on the football pitch. 
            This superiority can be achieved by being position-ally, numerically or qualitatively superior. 

            Implementing this style of play is a highly arduous task and requires all the players involved to be able to adapt to the system. 

            Because Juego de Posición demands superiority in every phase of the game, you realise why the goalkeeper is such an important player, 
            as you always want to maintain numerical superiority - especially at the back. 
            If two opponents are pressing your center-backs, your goalkeeper will become an active player, make it 3v2 and maintain numerical superiority. 

            In Juego de Posición, the pitch is divided in to separate zones and all the players have specific duties to carry out within these zones depending on the nature of the play. 
            Players make runs, create overlaps to maintain superiority over the opposition. 
            The ball is circulated between various players combined with the non ball players providing various passing options and creating problems for the opposition with their runs. 

            The main criticism of this system is that it is too rigid and that it is not reactive. 
            You need the right players who have been coached together for some time and some sprinkling of magic to perfect this system. 
        </p>
        <div class="imggrid2">
            <img src="/images/jdp.jpg" alt="Juego De Posicion" class="tac">
            <img src="/images/jdp2.jpg" alt="Juego De Posicion 2" class="tac">
        </div>
    </div>
    
    <div class="post" id="gegenpress">
        <h3>Gegenpressing</h3>
        <p>
            The gegenpress operates on the basic assumption that a team that has just lost possession (especially while attempting to counter) is in its most vulnerable state. 
            The more rapidly you exploit that vulnerability, the more likely you are to score. 

            For the system to function effectively, however, the dual pillars of fitness and intelligence are paramount. 
            Players must be capable of rapidly closing down space and hassling an opponent in an intentional manner without committing 
            the sin of fouling or the sin of diving in and leaving your teammates exposed.

            The downside to a rapid pressing system is that, if one man doesn’t do his job, the entire structure can collapse. 
            It doesn’t do any good to apply high pressure to nine outfield players if the tenth is wide open for an easy outlet pass. 

            Each player must be capable of reading the game, understanding his specific role in any given situation, and adapting quickly in order to keep an opponent firmly under pressure. 
            In so doing, 'gegenpress' teams effectively nullify the threat of counter attacks that could wreak havoc against teams that rely on a more traditional defensive approach.
        </p>
        <div class="imggrid2">
            <img src="/images/gegen.jpg" alt="Gegenpress" class="tac">
            <img src="/images/gegen2.jpg" alt="Gegenpress 2" class="tac">
        </div>
    </div>

    <div class="post" id="cantenaccio">
        <h3>Cantenaccio</h3>
        <p>
            In Italian, cantenaccio means 'door-bolt' which implies a highly organised and effective backline defense focused on nullifying opponents' attacks and preventing goal-scoring opportunities.
            Hence, the cantenaccio tactoc aims to rule out defeats as far as possible.
    
            It employs a very tight man-marking defense, with player staying deep in their own half to prevent any offense by the opponents by blocking any passage towards the goal.
        
            A 'libero' / sweeper is an additional defensive player which covers an opponent who manages to break the two lines of defense. 
            He is also tasked to control loose balls and double-mark an opponent when necessary. 
            And if the opposing team has a talented striker, the sweeper may be assigned to man-mark them. 
            With the libero providing an additional line of defense the other defenders and midfielders perform other assignments to prevent the opposition from scoring.

            The midfield and defensive back line keep the ball from getting near the goal, their primary objectives are to disrupt any offensive flow, put pressure on the attackers 
            and deny the opponent's best offensive players from getting the ball.
        </p>
        <div class="imggrid2">
            <img src="/images/cantenaccio.jpg" alt="Cantenacciojpg" class="tac">
            <img src="/images/cantenaccio2.jpg" alt="Cantenacciojpg" class="tac">
        </div>
    </div>

    <div class="post" id="totalfootball">
        <h3>Total Football</h3>
        <p>
            Total Football is a tactical playing theory in football where any outfield player adopts the role of any other player in the team. 

            It creates for a fluid tactical system in which no outfield player is fixed in their set role – as any player can switch to playing as an attacker, midfielder or defender, 
            with the only player retaining their position for the entirety of the match being the goalkeeper. 

            It promotes the ideology that "no one part is bigger than the sum of the team" – and is typically played in a fast-paced fashion so as to outsmart the opposition team. 

            In Total Football, a player is switched out of their position and instantly replaced by another from their team, which solidifies the team's organisational structure. 

            Total Football's tactical success depends largely on the adaptability of each footballer within the team, 
            in particular the ability to quickly switch positions depending on the on-field situation. 
            The theory requires players to be comfortable in multiple positions; hence, it requires very intelligent and technically diverse players.
        </p>
        <div class="imggrid2">
            <img src="/images/totalfootball.jpg" alt="Cantenacciojpg" class="tac">
            <img src="/images/totalfootball2.jpg" alt="Cantenacciojpg" class="tac">
        </div>
    </div>

</body>
</html>