* {
    margin: 0;
    padding: 0;
    color: black;
}

body {  
    background-size: 15px 15px;
    background-image: linear-gradient(to right, #efefef 1px, transparent 1px), linear-gradient(to bottom, #efefef 1px, transparent 1px);
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hdr {
    width: 100%;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1542618398-a5c31519cfef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1477&q=80');
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#hdcont {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Baskerville Old Face', 'Garamond', 'Baskerville', 'Times New Roman', 'Times', 'Serif';
    font-size: 45px;
    text-shadow: 2px 2px 6px #302f2f;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Helvetica', 'Arial';
    font-size: 12px;
}

li {
    display: inline;
    padding-right: 8px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.intro {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-style: italic;
    text-align: center;
}

h2 {
    font-family: 'Baskerville Old Face', 'Garamond', 'Baskerville', 'Times New Roman', 'Times', 'Serif';    
    font-size: 25px;    
}

p {
    font-family: 'Helvetica', 'Arial';
    font-size: 15px;
}

.post {
    margin-top: 25px;
    padding-top: 3px;
    padding-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 95%) 1;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

h3 {
    font-family: 'Helvetica', 'Arial Black', 'Arial';    
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.imggrid {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pos {
    width: 30%;
    margin-top: 25px;
    margin-left: 0.83%;
    margin-right: 0.83%;
}

.imggrid2 {
    display: flex;
    justify-content: space-evenly;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;

}

.tac {
    height: 100%;
    width: 45%;
    margin-top: 25px;
}

.form {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#act {
    text-decoration: underline;
    text-shadow: 1px 1px 1.5px #302f2f;
}

img {
    border-radius: 15px;
}

.quote, h4 {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    text-transform: none;
}

h4 {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;
}

#quote {
    border: 0;
    padding-bottom: 7.5px;
}

.flexgrid {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
  }

 .fleximg img {
    max-height: 300px;
    height: auto;
    max-width: 100%;
    padding: 0;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0%;
 }